{% extends 'layout.html' %}

{% load static %}

{% block title %}
  
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th style="width:240px;"></th>
              <th>Title</th>
              <th>Slug</th>
              <th style="width:80px">Update</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
              <tr>
                <td>
                  <img src="{{course.image.url}}"  class="img-fluid">
                </td>
                <td>
                  {{course.title}}
                </td>
                <td>
                  {{course.slug}}
                </td>
                <td>
                  
                  <a href="{% url 'course_edit' course.id %}" class="btn btn-primary btn-sm">Güncelle</a>
                  <a href="{% url 'course_delete' course.id %}" class="btn btn-danger btn-md" type="button">Sil</a>
                  
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
